/* WEBSITE COLORS */

$primary-color: #0e1a4d; // #0055ff (bleu plus clair)
$secondary-color: #FF9100;
$text-color: white;
$header-color: #0a1544;

/* LINEAR GRADIENT COLORS */

$gradient-color: #FF9100, #FD6143, #E23E66, #B1357D, #733883, #593272, #422A5F, #2D224B, #2D1834, #241221, #190A12, #000000;

// @mixin flex-column() {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   align-items: center;
// }



